body {
    background-color: #DFEBF7; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
}

.side-part-preferences{
    background-color: #BBD7D9; 
    display: flex;
    flex-direction: column;
    
}

.circle-theme-yellow{
    background-color:#FFE186;
    border-radius: 50%;
}

.preferances-buttons button{
    background-color: #BBD7D9; 
    border: 0cm;

}

.preferances-buttons{
    display: flex;
    flex-direction: column;
}

.theme-box{
    background-color: #FFFFFF;
    border-radius: 20%;
    display: flex;
    flex-direction: row;
}